body {
    background-color: #ffffff;
    font-family: 'Century Gothic', '游ゴシック';
}

html, body {
	height: 100%;
}

body, #wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
    height: 100%;
}

#wrapper {
    bottom: 100px;
}

footer {
    width: 100%;
    position: absolute;
    margin-top: auto;
    bottom: 0;
    color: #636363;
    text-align: center;
}

.header {
    position: fixed;
    width: 100%;
    background-color:  #636363;
    height: 60px;
    top: 0;
    left: 0;
}

.links-wrapper {
    position: lerative;
    text-align: left;
    margin: 0 0 0 10px;
    display: inline-flex;
}

.toggle-button {
	color: #d4d4d4;
    line-height: 60px;
    text-align: right;
    font-size: 17px;
    margin-right: 20px;
    transition-duration: 0.2s;
}

.links-wrapper:hover .toggle-button {
    color: #3c3c3c;
}

.links { 
    display: inline-flex;
    text-align: right;
    margin: 0;
} 

.links a {
    color: #d5d5d5;
    line-height: 60px;
    text-align: right;
    font-size: 25px;
    margin-right: 20px;
}

.links a:hover {
    color: #ffffff;
}

.title-wrapper {
    margin-top: 160px;
    height: 300px;
    text-align: center;
}

.title-body {
    vertical-align: middle;
    line-height: 360px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.title-body img {
    width: 25vw;
}

@media (min-width: 1000px) {
    .title-body img {
        width: 40%;
    }
}

.flex-box {
    display: flex;
    padding: 0;
    justify-content:center;
    width: 90.1vw;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.flex-item {
    margin: -0.5px;
    padding: 10px;
    color:  #636363;
    border: solid 0.5px #636363;
    width: 30vw;
    height: auto;
    text-align: center;
}
.flex-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.flex-item p {
    font-size: 3vw;
    margin-bottom: 1vh;
}

@media (min-width: 1200px) {
    .flex-item p {
        font-size: 30px;
    }
}

.flex-item img {
    margin-bottom: 2vh;
    width: 10vw;
    height: auto;
    transition-duration: 0.2s;
}

.flex-item:hover.flex-item img {
    transform: scale(1.1,1.1); 
}

.flex-item.open {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}

.toggle-contents-wrapper {
    width: 90vw;
    max-width: 899px;
    margin-left: auto;
    margin-right: auto;
}

.toggle-content-body {
    color: #636363;
}

.toggle-content-body img {
    width: 30vw;
    max-width: 500px;
    margin-top: 7.0px;
    margin-bottom: 6.0px;
    margin-left: -0.5px;
    margin-right: 15px;
}

.toggle-content-body img,
.main-text  {
    display: inline-block;
    vertical-align: middle;
}

.sub-box {
    width: 90vw;
    border: solid 0.5px #636363;
    margin-top: -0.5px;
    justify-content:center;
    max-width: 899px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sub-box p {
    color: #636363;
    font-size: 2vw;
    line-height: 60px;
    margin: 0;
}

.sub-box:hover p {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub-box.open p {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    width: 100%;
}

.form-body {
    width: 80vw;
    max-width: 510px;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #636363;
    text-align: center;
}

.form-body label {
    text-align: left;
    font-size: 120%;
    display: block;
}

.form-body input {
    width: 100%;
    border: solid 0.5px #636363;
    border-radius: 8px;
    font-size: 130%;
    height: 25px;
    text-indent: 5px;
    color: #636363;
}

.form-body textarea {
    width: 100%;
    border: solid 0.5px #636363;
    border-radius: 8px;
    font-size: 150%;
    height: 150px;
    text-indent: 5px;
    color: #636363;
}

.form-body button {
    width: 100px;
    border: solid 0.5px #636363;
    border-radius: 8px;
    font-size: 110%;
    height: 23px;
    color: #636363;
    display: block;
    margin: 0 0 0 auto;
}

div.form {
    text-align: left;
    padding: 10px;
}

form {
    text-align: center;
    max-width: 500px;
}



